body{
    background: rgb(61,61,61);
    background: linear-gradient(360deg, rgb(155, 155, 155) 0%, rgba(0,0,0,1) 0%, rgb(56, 56, 56) 100%); 
    justify-content: center;
    text-align: center;
    display: flex;
    flex: 1;
    height: 1000px;
}
.maindiv{
    margin: 50px;
    position: sticky;
    top: 0px;
    display: flex;
    height: 100px;
    width: 95%;
    background-color: rgb(31, 31, 31);
    
}

.divs{
    flex: 1;
    background-color: rgb(201, 190, 176);
    height: 60px;
    margin: 10px;
    transform: translate(0,16%);
}